
body {
  margin: 0;padding:0;
  font-family: Arial, Helvetica, sans-serif;
}
.wrap {
    width:980px;
    margin:0 auto;
}
.header { 
    height:40px;
    margin-bottom:15px;
    margin-top:15px;
    background-color:#0d7963;
}
.content {
    width:790px;
    height:2000px;
    background-color:#dbfffd;
    float:right;
}
.sidebar {
    width:175px;
    height:600px;
    background-color:#d1dbff;
    float:left;
}
.footer {
    height:70px;
    margin-top:15px;
    background-color:#0d7963;
}
.clear {
    clear:both;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a.bar {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.bar:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active.bar{
  background-color: #04AA6D;
  color: white;
}

.profile {
    width:790px;
    height:280px;
    margin: 0;
    /*background-color:#d1dbff;*/
}

.avatar_size {
    height:250px;
    width:200px;
    margin:15px;
    float: left;
    background-color:#faf;
}
.avatar_text{
    height:250px;
    width:545px;
    margin:15px;
    margin-left: 0;
    float: left;
    /*background-color:#c7fff3;*/
}


a.linksite {
  float: left;
  color: #fff;
  background-color: #666666;
  text-align: center;
  padding: 4px 8px;
  margin-right: 2px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 17px;
}

a.linksite:hover {
  background-color: #ddd;
  color: black;
}


.cv{
    width:760px;
    height:1600px;
    margin: 15px;
    /*background-color:#d1abff*/;
}
.education{
    margin: 0;
    padding: 0;
}
hr.line {
  border:  1px solid #b0b0b0;
  border-radius: 5px;
  margin-top: 1px;
}
.master{
    margin: 0;
    color: #5e5e5e;
    padding: 0;
}
.lefttext {
    float: left;
}
.righttext {
    float: right;
}

/* Lleft side----------------------*/
.Docstypes a {
  background-color: #66002c; /* Green background */
  margin:3px;
  color: white; /* White text */
  padding: 8px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  /*width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  text-decoration: none;
  border-radius: 5px;
}
.Docstypes a:hover {
  background-color: #ff006f;
}





/*Download PDF*/

a.normal_link {
    display: block;
    text-decoration: none;
    color: darkblue;
    margin: 10px;
}




